:root{
    --bg-pri: #D9D9D9;
    --bg-sec: #B4B4B4;
    --brd: black;
    --grid: #00000050;
    --grid-n: #ffffff20;
    --bg-grid: #eeeeee;
    --title-bg: rgba(165, 165, 165, 0.5);
    --title-hover: rgba(224, 224, 224, 0.5);
}

.widget {
    --border-color: #000000;
    --border-weight: 3px;
    --dash-size: 20px;
    --gap-size: 20px;
    background: var(--bg-sec);
    padding: 3px;
    position: absolute;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-origin: content-box; 
}

.widget:hover{
    --border-color: rgb(22, 22, 22);
    --border-weight: 3px;
    --dash-size: 20px;
    --gap-size: 20px;
}

.widget:after {
    transition: all .6s ease;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
    background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
}

.widgetL{
    border: solid 1px black;
    position: absolute;
}

.tox {
    z-index: 1;
}

.resizer {
    width: 48px;
    height: 48px;
    position: absolute;
    pointer-events: auto;
}

.resizer.top-left {
    left: 0px;
    top: 0px;
    cursor: nwse-resize; 
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40.4616 6.53847H6.53847L6.53847 40.4615L1 46L1 1L46 1L40.4616 6.53847Z" fill="%23B4B4B4" stroke="black" stroke-dasharray="5 5"/></svg>');
    clip-path: polygon(0 100%, 0 0, 100% 0, 85% 15%, 15% 20%, 15% 85%);
    z-index: 4;
}

.resizer.top-right {
    right: 0px;
    top: 0px;
    cursor: nesw-resize;
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.4615 40.4616L41.4615 6.53847L7.53847 6.53847L2 1L47 1L47 46L41.4615 40.4616Z" fill="%23B4B4B4" stroke="black" stroke-dasharray="5 5"/></svg>');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 85%, 85% 15%, 15% 20%);
    z-index: 4;
}

.resizer.bottom-left {
    left: 0px;
    bottom: 0px;
    cursor: nesw-resize;
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.53847 7.53842L6.53847 41.4615L40.4615 41.4615L46 47L1 47L1 1.99995L6.53847 7.53842Z" fill="%23B4B4B4" stroke="black" stroke-dasharray="5 5"/></svg>');
    clip-path: polygon(100% 100%, 0 100%, 0 0, 20% 15%, 15% 85%, 85% 85%);
    z-index: 4;
}

.resizer.bottom-right {
    right: 0px;
    bottom: 0px;
    cursor: nwse-resize;
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.53842 41.4615L41.4615 41.4615L41.4615 7.53847L47 2L47 47L1.99995 47L7.53842 41.4615Z" fill="%23B4B4B4" stroke="black" stroke-dasharray="5 5"/></svg>');
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 15% 85%, 85% 85%, 85% 15%);
    z-index: 4;
}

.page{
    margin: 30px;
    margin-top: 105px;
    width: calc(100vw - 80px);
    height: 100vh;
    background: 
        linear-gradient(0deg, transparent 24px, var(--grid) 25px, var(--grid) 26px, transparent 27px),
        linear-gradient(90deg, transparent 24px, var(--grid) 25px, var(--grid) 26px, transparent 27px),
        var(--bg-grid);
    background-size: 25px 25px;
}

.tmce-display{
    width: inherit;
    height: inherit;
    overflow: hidden;
    background-color: white;
}


.view {
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid var(--brd);
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

.view-title{
    width: 100%;
    height: 58.5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 8px;
    font-size: 35px;
}

.title-border{
    border: solid 1px black;
    background-color: var(--bg-sec);
}

.view-title textarea{
    resize: none;
    height: 54px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    line-height: 54px;
    background: transparent;
    z-index: 1;
    border: none;
    cursor: pointer;
    outline: none;
}

.view-title textarea:hover{
    background: var(--title-hover);
}

.resizerView {
    width: 100%;
    height: 8px;
    background-color: #aaa;
    position: absolute;
    bottom: -8px;
    left: 0;
    cursor: ns-resize;
}

.dz-drag-hover {
    border: 3px dashed #f00 !important; 
    background-color: #f8f8f8 !important;
}

.dragover {
    border: 3px dashed #f00 !important; 
    background-color: #f8f8f8 !important;
}

.user{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(100% 0, 100% 70%, 63% 100%, 0 100%, 0 0);
}

.user:hover{
    background: var(--title-hover);
}

.title-filler-l{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 22px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(80% 0, 80% 97%, 72% 95%, 0 70%, 0 0);
}

.title{
    position: absolute;
    top: 0px;
    left: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 178px);
    height: 60px;
    --border-color: #000000;
    --border-weight: 3px;
    --dash-size: 15px;
    --gap-size: 15px;
    padding: 3px;
    clip-path: polygon(calc(0% + 4.25px) 0, calc(100% - 4.25px) 0, calc(100% - 4.25px) 100%, calc(0% + 4.25px) 100%);
    position: absolute;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    z-index: 2;
    background: var(--title-bg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title:hover{
    --border-color: rgb(22, 22, 22);
    --border-weight: 3px;
    --dash-size: 15px;
    --gap-size: 15px;
}

.title:after {
    transition: all .6s ease;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
    background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
}



.title-filler-r{
    position: absolute;
    top: 0px;
    right: 102px;
    width: 22px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(100% 0, 100% 72%, 30% 95%, 20% 97%, 20% 0);
}

.delete{
    position: absolute;
    top: 0px;
    right: 49px;
    width: 54px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 67% 100%, 33% 100%, 0 72%);
    z-index: 3;
}

.delete:hover{
    background: var(--title-hover);
    
}

.deleteW{
    position: absolute;
    top: 0px;
    right: 49px;
    width: 57px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(0 0, 100% 0, 100% 69%, 65% 100%, 37% 100%, 0 67%);
    z-index: 3;
}

.deleteW:hover{
    background: var(--title-hover);
    
}

.lock{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 62px;
    cursor: pointer;
    background: var(--title-bg);
    clip-path: polygon(100% 0, 100% 100%, 37% 100%, 0 68%, 0 0);
    z-index: 3;
}

.title-hover{
    background: var(--title-hover);
}

.lock:hover{
    background: var(--title-hover);
    
}



.cf-left{
    width: 20.8%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.cf-input{
    width: 45%;
    height: 80px;
    position: absolute;
    left: 30px;
    top: 120px;
    text-align: center; 
    font-size: 16px;
    resize: none;
    z-index: 8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.cf-description{
    width: 45%;
    height: 260px;
    resize: none;
    position: absolute;
    left: 30px;
    top: 260px;
    text-align: center;
    z-index: 8;
}

.cf-l-title{
    position: absolute;
    color: var(--bg-pri);
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 5px;
}

.cf-r-title{
    position: absolute;
    color: var(--bg-pri);
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 2px;
}

.cf-right{
    width: 67.7%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 70px;
}

.cf-dropzone{
    right: 30px;
    top: 120px;
    position: absolute;
    width: 45%;
    height: 400px;
    border: 1px solid var(--grid);
    border-radius: 3px;
    z-index: 8;
}

.cm{
    position: fixed;
    bottom: 0px;
    left: calc(50% - 217px);
    width: 434px;
    height: 100px;
    z-index: 5;
}

.cm-video{
    position: absolute;
    left: 0px;
    bottom: 0px;
    
}

.cm-icon-video{
    background-image: url('../image/cm-video.png');
    position: absolute;
    left: 28px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cm-image{
    position: absolute;
    left: 78px;
    bottom: 0px;
}

#cm-icon-image{
    cursor: pointer;
}

.cm-icon-image{
    background-image: url('../image/cm-image.png');
    position: absolute;
    left: 102px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cm-vue{
    position: absolute;
    left: 176px;
    bottom: 80px;
}

#cm-icon-vue{
    cursor: pointer;    
}
.cm-icon-vue{
    background-image: url('../image/cm-vue.png');
    position: absolute;
    left: 205px;
    bottom: 80px;
    width: 20px;
    height: 20px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cm-txt{
    position: absolute;
    left: 155px;
    bottom: 0px;
}

#cm-icon-txt{
    cursor: pointer;
}

.cm-icon-txt{
    background-image: url('../image/cm-txt.png');
    position: absolute;
    left: 192px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cm-table{
    position: absolute;
    left: 259px;
    bottom: 0px;
}

.cm-icon-table{
    background-image: url('../image/cm-table.png');
    position: absolute;
    left: 285px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cm-3d{
    position: absolute;
    left: 338px;
    bottom: 0px;
}

.cm-icon-3d{
    background-image: url('../image/cm-3d.png');
    position: absolute;
    left: 365px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.card-form{
    width: 1880px;
    height: 690px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: 
        linear-gradient(0deg, transparent 24px, var(--grid-n) 25px, var(--grid-n) 26px, transparent 27px),
        linear-gradient(90deg, transparent 24px, var(--grid-n) 25px, var(--grid-n) 26px, transparent 27px),
        #353535;
    background-size: 25px 25px;
    z-index: 6;
}

.cf-head{
    width: 1880px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cf-h-left{
    width: 70px;
    height: 60px;
    background-image: url('../image/cf_left.png');
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cf-h-right{
    width: 70px;
    height: 60px;
    background-image: url('../image/cf_right.png');
    z-index: 7;
    background-size: cover;
    background-repeat: no-repeat;
}

.cf-title{
    color: var(--bg-pri);
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 10px;
    font-family: 'Kiwi Maru', serif;
}

.cf-h-center{
    height: 60px;
    width: 1740px;
    --border-color: var(--bg-sec);
    --border-weight: 3px;
    --dash-size: 15px;
    --gap-size: 15px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    clip-path: polygon(0.01% 0, 99.99% 0, 99.99% 92%, 0.01% 92%);
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cf-h-center:after {
    transition: all .6s ease;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
    background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
}

.cf-body{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1880px;
    height: 630px;
    --border-color: var(--bg-sec);
    --border-weight: 3px;
    --dash-size: 15px;
    --gap-size: 15px;
    padding: 30px;
    margin-top: 56px;
    position: absolute;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    clip-path: polygon(70px 0%, calc(100% - 70px) 0%, calc(100% - 70px) 0.5%, 100% 0.5%, 100% 100%, 0 100%, 0 0.5%, 70px 0.5%);
}

.cf-body:after {
    transition: all .6s ease;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
        
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
    background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
}

#c-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.af-left{
    top: -270px;
    left: -900px;
    position: relative;
}

.af-right{
    top: -270px;
    left: -270px;
    position: relative;
}

.af-menu1{
    position: absolute;
}

.af-menu2{
    position: absolute;
}

.af-menu3{
    position: absolute;
}

.af-menu4{
    position: absolute;
}